Source: jdownloader-utils
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Yadickson Soto <yadickson@gmail.com>
Build-Depends: debhelper (>= 9), cdbs, default-jdk, maven-debian-helper (>= 1.5)
Build-Depends-Indep: junit4, libcommons-lang-java (>= 2.6), libjackson-json-java, libmiglayout-java,  
 libproxy-vole-java, libsvnkit-java (>= 1.8.6)
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/pkg-java/jdownloader-utils.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-java/jdownloader-utils.git
Homepage: https://github.com/svn2github/jd-utils

Package: libjd-utils-java
Architecture: all
Depends: ${misc:Depends}, ${maven:Depends}
Suggests: ${maven:OptionalDepends}
Description: JDownloader Appwork Utils
 This packages contain the appwork-utils.

